@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  background: #f6f7f8;
  color: rgb(0, 0, 0);
  font-family: "Nunito";
}

a {
  color: #333;
  text-decoration: none;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  margin: 5px auto 40px;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid rgb(6, 69, 99);
}

nav a {
  margin-left: 5px;
  font-weight: bold;
  font-size: large;
  padding-inline: 40px;
}

nav .logo {
  margin-right: auto;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}